.footer {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    background-color: #495057;
    color: #f2f4f9;
    text-align: left;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

.footer-wrap {
    width: 1200px;
    margin: 0 auto;
}