.footer {
    position: relative;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    background-color: #495057;
    color: #f2f4f9;
    text-align: left;
    padding: 24px 0;
    width: 100%;
    bottom: 0;
}

.footer .wrap {
    margin-left: 10%;
}