.list-head{
    margin-top:35px;
    display: flex;
    padding-bottom : 5px;
    border-bottom: 1px solid #767676; /* 아랫부분에 밑줄 추가 */
    justify-content: space-between;
    width:100%
}

.order-sub-title .search-sort-method{
    margin-top: 35px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd; /* 아랫부분에 밑줄 추가 */
    font-size: 14px;
}

.search-sort-method{
    border-radius: 5px;
    border: 1px solid #ddd;
    max-width: 120px;
    padding: 5px;
}

.table_4756{
    border-collapse: collapse;
}
  
.table_head_4756{
    border-collapse: collapse;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

.myorder-count{
    color:#47c282;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    background-color: white;;
    border: 1px solid white;
    cursor: pointer;
}

.pagination button.active {
    color: #28a745; /* 초록색 */
    background-color: white; /* 배경색을 흰색으로 유지 */
    border: 1px solid white;
}