.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    padding-top: 10px;
    border-radius: 8px;
    width: 346px;
    height: 462px;
    /* text-align: center; */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: start; */
    /* align-items: start; */
}

.close-button:hover {
    background-color: #0056b3;
}

.title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CDD3D9;
}

.modal-title {
    margin-top: 10px;
    padding-bottom: 20px;
}

.close-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}