.tab-item {
    padding: 14px;
    margin-bottom: 10px;
  }
  
  .tab-item:hover {
      background-color: #F2F4F6; /* 회색 배경 */
  }
  
  .active-tab {
      background-color: #F2F4F6; /* 현재 페이지와 같은 탭의 회색 배경 */
      padding: 14px;
      margin-bottom: 10px;
      font-weight: bold;
  }

.order-sub-title{
    font-size: 18px;
}
.order-sub-title span {
    font-weight: bold;
}

.list-head{
    margin-top:35px;
    display: flex;
    padding-bottom : 4px;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    width:100%
}

.search-sort-method{
    border-radius: 5px;
    border: 1px solid #CDD3D9;
    max-width: 120px;
    padding: 4px;
    color: #495057;
    font-size: 12px;
    outline: none;
}

.table{
    margin-top: 10px;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #F2F4F6;
}

.table thead {
    background-color: #F2F4F6;
}

.table thead th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table thead th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.table th {
    border-bottom: 1px solid white;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    background-color: white;;
    border: 1px solid white;
    cursor: pointer;
}

.pagination button.active {
    color: #9D3014; /* 초록색 */
    background-color: white; /* 배경색을 흰색으로 유지 */
    border: 1px solid white;
}

.accept{
    padding :4px 8px 4px 8px ;
    margin-right : 3px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: white;
}

.accept:hover {
    background-color: #9D3014; /* 연한 녹색 배경 */
    color: white; /* 하얀색 글씨 */
}

.decline{
    padding :4px 8px 4px 8px ;
    margin-left : 3px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: white;
}

.decline:hover {
    background-color: #9D3014; /* 연한 빨강 배경 */
    color: white; /* 하얀색 글씨 */
}