.dashboard-container {
    font-family: Arial, sans-serif;
}

.dashboard-content {
display: flex;
margin-top: 20px;
}

.sidebar {
width: 300px; /* 사이드바 너비 조정 */
background-color: #f5f5f5;
padding: 20px;
box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.user-info {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}

.user-avatar {
font-size: 50px; /* 아바타 크기 조정 */
background-color: #ddd;
width: 70px;
height: 70px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.user-name {
margin-top: 10px;
font-size: 18px;
}

.logout-button {
margin-top: 10px;
padding: 5px 10px;
border: none;
background-color: #f44336;
color: #fff;
cursor: pointer;
}

.main-content {
flex-grow: 1;
padding: 20px;
}

.order-summary {
display: flex;
justify-content: space-around;
margin-bottom: 20px;
height: 170px;
background-color: #f0f0f0;
}

.order-item {
/* flex-grow: 1;
text-align: center;
padding: 20px;
background-color: #f0f0f0;
margin: 0 10px;
border-radius: 4px; */
flex-grow: 1;
text-align: center;
padding: 20px;
background-color: #f0f0f0;
margin: 0 10px;
border-radius: 4px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.order-item span {
display: block;
font-size: 24px;
font-weight: bold;
margin-top: 5px;
}

.highlighted-section {
background-color: #ffcccb;
height: 50px;
border-radius: 4px;
margin-bottom: 20px;
}

.activities-section {
    width: 100%;
    text-align: left;
    padding: 20px;
  }
  
.section-title {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.activities-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 두 열 사이의 공간을 동일하게 분배 */
}

.activity-item {
  flex: 1 1 45%; /* 두 개의 아이템이 한 줄에 배치되도록 설정 */
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.full-width {
  flex: 1 1 100%; /* 한 줄을 모두 차지하도록 설정 */
  margin-top: 10px; /* 상위 항목들과 간격을 두기 위해 여백 추가 */
}
