/* 페이지 스타일 */
.order-confirm p {
    line-height: 20px;
    font-size: 14px;
}

/* 컨텐츠 내 공통 스타일 */
p.mute {
    color: #495057;
}

.order-confirm p > strong {
    font-size: 16px;
}
.order-confirm .info-wrap p:first-of-type {
    margin-bottom: 4px;
}

/* 주문 내역 영역 스타일 */
.order-info {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 24px;
}

.order-info img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

/* 배송지 정보 영역 스타일 */
.delivery-info p:last-of-type {
    margin-bottom: 16px;
}

/* 하단 버튼 영역 보이게 */
.order-confirm .order-bottom-btn {
    display: flex;
}
