.service-general-fitting .img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    /* w:h 768:1024 -> 588:784 */
    width: 100%;
    /* width: 420px; */
    height: 560px;
    margin: 0 auto;
    border-radius: 10px;
}

.fitting img {
    margin: 0;
}
.img-container img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.fitting .text-wrap {
    font-size: 14px;
    color: #495057;
}
.fitting .text-wrap p {
    line-height: 20px;
}
p.text-margin-bottom {
    margin-bottom: 12px;
}
.fitting .text-wrap p:last-of-type {
    display: inline-block;
    margin-bottom: 40px;
}

.fitting .order-bottom-btn {
    display: flex;
}

.fitting .loading {
    cursor: default;
}

.no-result {
    background-color: #F2F4F6;
    border-radius: 10px;
}

.no-result .result-wrap {
    width: 144px;
    margin: calc(100% - 100px) auto;
}

.no-result span {
    position: relative;
    top: calc(50% - 82px);
    left: calc(50% - 60px);
    display: block;
    width: 120px;
    height: 120px;
    /* margin: 100% auto; */
    background: url(https://i.imgur.com/b5OcHOj.png) no-repeat;
    background-size: cover;
}
.no-result button {
    margin: 0 auto;
    background-color: #fff;
    margin-top: 12px;
}
.no-result p {
    position: relative;
    top: calc(50% - 78px);
    text-align: center;
    color: #CDD3D9;
    font-size: 14px;
    line-height: 20px;
}

/* .spinner {
    position: relative;
    left: 10px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1.4s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

.ellipsis {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    /* 텍스트와 간격을 둡니다 */
}

.ellipsis div {
    position: absolute;
    top: calc(50% - 2px);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #CDD3D9;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ellipsis div:nth-child(1) {
    left: 2px;
    animation: ellipsis1 0.6s infinite;
}

.ellipsis div:nth-child(2) {
    left: 2px;
    animation: ellipsis2 0.6s infinite;
}

.ellipsis div:nth-child(3) {
    left: 8px;
    animation: ellipsis2 0.6s infinite;
}

.ellipsis div:nth-child(4) {
    left: 14px;
    animation: ellipsis3 0.6s infinite;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image-box {
    width:470.4px;
    height: 450px;
    background-color: #F2F4F6;
    display: flex;
    margin-top:40px;
    border-radius:10px;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
  }


@keyframes ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(6px, 0);
    }
}

@keyframes ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}