/* const defaultStyle = {
    border: "none",
    borderRadius: "5px",
    height: "32px",
    width: "135px",
    fontSize: "12px",
    fontWeight: "bold",
    backgroundColor: "#47C282",
    color: "white",
    cursor: "pointer",
  }; */


.component {
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 135px;
    font-size: 12px;
    font-weight: bold;
    background-color: #47c282;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-inactive-button {
    background-color: #F4F5F6;
    color: black;
}

.login-button {
    width: 290px;
    height: 40px;
    color: white;
    /* font-size: 12px; */
    /* font-weight: bold; */
}

.navigation-button {
    background-color: transparent;
    color: #767676;
    font-size: 16px;
    font-weight: medium;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: default;
}

.navigation-button.active {
    color: white;
    background-color: #47c282;
}

.user-info-button {
    width: 100px;
    height: 40px;
    background-color: white;
    color: #47C282;
    border: solid 1px #47C282;
}

.sign-up-complete {
    color: #495057;
    width: 132px;
    background-color: white;
    border: solid 1px #CDD3D9;
}