/* const defaultStyle = {
    border: "none",
    borderRadius: "5px",
    height: "32px",
    width: "135px",
    fontSize: "12px",
    fontWeight: "bold",
    backgroundColor: "#47C282",
    color: "white",
    cursor: "pointer",
  }; */


.component {
    border: none;
    border-radius: 10px;
    height: 32px;
    width: 135px;
    font-size: 12px;
    font-weight: bold;
    background-color: #9d3014;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-active-button {
    cursor: default;
}

.login-inactive-button {
    background-color: #F4F5F6;
    color: black;
}

.login-button {
    width: 290px;
    height: 40px;
    color: white;
    /* font-size: 12px; */
    /* font-weight: bold; */
}

.navigation-button {
    background-color: transparent;
    color: #767676;
    font-size: 16px;
    font-weight: medium;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: default;
}

.navigation-button.active {
    color: white;
    background-color: #9d3014;
}

.user-info-button {
    width: 100px;
    height: 40px;
    background-color: white;
    color: #9d3014;
    border: solid 1px #9d3014;
}

.sign-up-complete {
    color: #495057;
    width: 132px;
    background-color: white;
    border: solid 1px #CDD3D9;
}

.editprofile-button {
    width: 90%;
    background-color: #9d3014;
    border: 1px solid #9d3014;
    margin: 20px auto 0;
    white-space: nowrap;
    padding: 12px 0;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    font-weight: 500;
}

.cancel,
.confirm {
    height: 40px;
    width: 100px;
    border-radius: 10px;

}

.cancel {
    background-color: white;
    color: #495057;
    border: solid 1px #E9ECEF;
}

.confirm {
    color: white;
    background-color: #9d3014;
}

.btn-white {
    background-color: #fff;
    color: #495057;
    border: 1px solid #CDD3D9;
}

.btn-image-analyze, .btn-full-width {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
}

.btn-go-home {
    width: 132px;
    height: 40px;
    margin: 24px auto 0;
}

.btn-next {
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 4px;
}

.try-button {
    width: 180px;
    margin: 20px auto 0;
    white-space: nowrap;
    padding: 20px 40px;
    font-size: 18px;
    color: white;
    background-color: #333333; /* 다크 그레이 색상 */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}
  
.try-button:hover {
    background-color: #555555; /* 약간 밝은 그레이 색상 */
}

.loading {
    color: #CDD3D9;
}