/* const defaultStyle = {
    border: "none",
    borderRadius: "5px",
    height: "32px",
    width: "135px",
    fontSize: "12px",
    fontWeight: "bold",
    backgroundColor: "#47C282",
    color: "white",
    cursor: "pointer",
  }; */


.button-component {
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 135px;
    font-size: 12px;
    font-weight: bold;
    background-color: #47c282;
    color: white;
    cursor: pointer;
}



.login-inactive-button {
    background-color: #F4F5F6;
    color: black;
}

.login-button {
    width: 290px;
    height: 40px;
    color: white;
    /* font-size: 12px; */
    /* font-weight: bold; */
}

