.form-input {
    display: flex;
    flex-direction: column;
    font-weight: medium;
}

.form-input label {
    font-size: 14px;
}

.form-input input {
    width: 290px;
    height: 40px;
    line-height: 3;
    border: #cccccc 1px solid;
    border-radius: 5px;
    outline: none;
    padding-left: 16px;
    box-sizing: border-box;
    margin-top: 4px;
    font-size: 12px;
    font-weight: bol;
}

.form-input input::placeholder {
    color: #999;
    font-size: 12px;
}