.component {
    /* width: 100%; */
    /* height: 588px; */
    width: 432px;
    height: 432px;
    border-radius: 10px;
    /* border: 1px solid #CDD3D9; */
    background-color: #F2F4F6;
    overflow: hidden;
    margin: 0 auto;
}
.component div {
    height: 100%;
}
.component span {
    float: left;
    position: relative;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    display: block;
    width: 60px;
    height: 60px;
    background: url(https://i.imgur.com/CEWZpjw.png) no-repeat;
    background-size: cover;
}
.component.uploader-long span {
    margin: calc(100% - 60px) auto;
}
.component .preview {
    width: 100%;
    height: 100%;
}
.component input {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    top: -432px;
    cursor: pointer;
}
.component label {
    display: none;
}

.component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.component p {
    font-size: 14px;
    color: #495057;
    text-align: center;
}

.component.uploader-long {
    width: 100%;
    height: 100%;
}
.component.uploader-long div, .component.uploader-long img, .component.uploader-long input {
    height: 100%;
}
.component.uploader-long img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.component.uploader-long input {
    top: -662.39px;
}
.component.uploader-long span {
    margin: 0;
}