.component {
    cursor: pointer;
}

.login-page-button,
.sign-in-page-button,
.logout-page-button {
    color: #495057;
    font-size: 16px;
    font-weight: "regular";
}

.user-name-find,
.password-find {
    color: #495057;
    font-size: 12px;
    font-weight: "regular";
}

.login-guide-button {
    color: #47C282;
    font-size: 12px;
    font-weight: bold;
}

#logo-main-page {
    font-family: "Black Han Sans", sans-serif;
    font-weight: regular;
    font-size: 36px
}

.sidebar-item {
    font-weight: medium;
    font-size: 14px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px
}

#a.component {
    text-decoration: none;
}

.btn-grey {
    color: #495057;
    margin-bottom: 16px;
}

