.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* 이미지 사이 간격 */
  padding: 2rem 0;
}
.banner-container:last-of-type {
  padding-bottom: 0;
}

.banner-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우 공간을 균등하게 배분 */
  width: 100%;
  max-width: 1200px; /* 컨텐츠 최대 너비 설정 */
}

.banner-content.reverse {
  flex-direction: row-reverse; /* 이미지 오른쪽, 텍스트 왼쪽 */
}

.banner-image {
  width: 50%;
  height: auto;
  display: block;
  max-width: none; /* 이미지의 최대 너비를 해제 */
  flex: 1; /* 이미지를 가능한 한 크게 */
}

.banner-text {
  text-align: center;
  width: 50%;
  padding: 1rem;
  font-size: 35px;
  font-weight: 700;
  white-space: nowrap;
}

.banner-text h3 {
  align-items: center;
  margin-bottom: 0.5rem;
  color: #9D3014;
}

.banner-text .content {
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: #333333;
  margin: 0;
}

.banner-images {
  display: flex;
  gap: 1rem; /* 이미지 사이 간격 */
  justify-content: center;
  width: 70%;
}

.banner-images .resize{
  width: 40%;
  height: 40%;
}
