.header-line-2 {
    background-color: white;
    display: flex;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
}


/* .login-logout-buttons {
    position: absolute;
    display: flex;
    gap: 19px;
    right: 10%;
} */

.header-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-width: 238px;
    max-width: 80%;
    margin: 0 auto;
}

.hamburger-logo-contents {
    /* position: absolute; */
    display: flex;
    margin-left: 10%;
    gap: 50px;
    flex-wrap: wrap;
}

.logo-image {
    height: '40px';
    width: '100px'; 
}

.search-profile-contents {
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 29px;
}

.service-functions {
    /* position: absolute; */
    display: flex;
    align-items: center;
    margin-right: 10%;
    /* margin-left: 10%; */
    gap: 29px;
}

#logo-main-page{
    font-size: 30px;
    font-weight: 200;
}

#logo-main-page img {
    height: 25px; /* 원하는 높이로 설정 */
    width: auto;  /* 비율을 유지하며 너비 자동 설정 */
}

@media (max-width: 460px) {
    .header-box {
        display: flex;
        justify-content: end;
    }
}