.header-line-1 {
    /* 임시 영역 */
    background-color: white;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.header-line-2 {
    background-color: white;
    display: flex;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}


.login-logout-buttons {
    position: absolute;
    display: flex;
    gap: 19px;
    right: 10%;
}

.hamburger-logo-contents {
    position: absolute;
    display: flex;
    left: 10%;
    gap: 50px
}

.search-profile-contents {
    position: absolute;
    display: flex;
    align-items: center;
    right: 10%;
    gap: 29px;
}